@import "tailwindcss";
@import "tw-animate-css";

/* Suporte a tema dark */
@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
}

.text-gradient-black {
  background: linear-gradient(
    to right,
    #ffd700,
    #ffec8b
  ); /* Gradiente do dourado até o amarelo claro */
  -webkit-background-clip: text; /* Para Safari */
  background-clip: text;
  color: transparent; /* Deixa o texto transparente para o gradiente aparecer */
}

.hover-primary:hover {
  color: var(--primary-color);
}

.hover-button:hover {
  background-color: var(--primary-color-hover);
}

:root {
  --radius: 0.625rem;

  --primary-color: #2979ff;
  --primary-color-hover: #011f53;
  --color-button-more: #c7d9f7;

  --background-cookie: #ffffff;

  --background: #ffffff; /* body do site */
  --second-background: #f0f4f8;
  --foreground: #202020;
  --button-foreground: #fcfcfc;
  --text-gradient: var(--text-gradient);
}

.dark {
  --primary-color: #00ffff;
  --primary-color-hover: #00b3b3;
  --color-button-more: #c7d9f7;

  --background-cookie: #ffffff;

  --background: #000000; /* body do site */
  --second-background: #111111;

  --foreground: #ffffff;
  --button-foreground: #000000;

  --border: #888888;
}

/* Aplicação base */
@layer base {
  * {
    @apply border-border outline-ring/50;
    @apply border-transparent dark:border-[var(--border)];
  }

  body {
    @apply bg-background text-foreground;
  }
}

.high-contrast-border {
  border: 1px solid transparent;
}

.dark .high-contrast-border {
  border-color: var(--border);
}

.high-contrast-text {
  color: var(--primary-color);
}

.dark .high-contrast-text {
  color: var(--button-foreground);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-padding-top: 100px;
  width: 100%;
  height: 100%;
}
